h1{
    color: rebeccapurple;
    font-size: 55px;
    
}
body{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
margin: 0px;
}
.first{ 
    color:red;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 60%;
    padding-left: 7%;
}
.half-width img{
    width: 100%;
}
.link-button{
text-decoration: none;
background-image: linear-gradient(red, blue);
color: yellow;
font-weight: 800;
padding: 10px 30px;
border-radius: 20px;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: none;
}
.dream-big{

    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 10%;
}
.experience-area{
    margin-left: 2%;
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.half-width-experience{
    width: 40%;
    box-shadow:50px 40px 50px greenyellow;
    margin-left: 5%;
    margin-right: 10%;
    padding-right: 30px;
    border-radius: 5px;
    border-left: 4px solid navy;
}
h2{
    color: royalblue;
    font-size: 40;

}
#Full-stack{
    border-left:10px solid palegreen;
}